<div class="flex bg-gray-900 text-white">
  <main class="flex-1 p-6 bg-gray-800">
    <app-header [activeNavItem]="'resources'"></app-header>

    <div class="text-white min-h-screen p-6">
      <h1 class="text-3xl mb-4">Ressources à proximité</h1>
      <div *ngIf="resources.length === 0" class="text-gray-400">Aucune ressource disponible à proximité</div>
      
      <!-- Resources Grid -->
      <div class="max-h-[70vh] bg-gray-700 p-4 rounded-lg overflow-y-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"> <!-- Adjusted for 4 columns on large screens -->
          <div *ngFor="let resource of resources" class="p-4 bg-gray-800 rounded-lg">
            <img [src]="resource.image_url" alt="{{ resource.name }}" class="h-32 w-full object-cover rounded-md mb-3">
            <h2 class="text-xl font-bold">{{ resource.name }}</h2>
            <p class="text-gray-400">Prix ​​de location: ${{ resource.rent_price }} {{ resource.rental_period }}</p>
            <p class="text-gray-400">Category: {{ resource.category }}</p>
            <p class="text-gray-400">Owner: {{ resource.created_by_uid }}</p>
            <a [routerLink]="['/resource/details', resource.id]" class="text-blue-500 hover:underline">Voir les détails</a>
          </div>
        </div>
      </div>
      
      <!-- Action Buttons Row -->
      <div class="flex justify-between bg-gray-700 p-4 mt-4">

        <a 
          routerLink="/resource/create" 
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded flex-grow mr-2">
          Ajouter une ressource
        </a>
        <a 
          routerLink="/resource/manage" 
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded flex-grow">
          Mes ressources
        </a>
      </div>
    </div>
  </main>
</div>