<div class="flex bg-gray-900 text-white">
  <main class="flex-1 p-6 bg-gray-800">
    <app-header [activeNavItem]="'forum'"></app-header>

    <div class="text-white min-h-screen p-6 mb-3">
      <h1 class="text-3xl mb-4">Forum Topics</h1>

      <!-- Forum Topics Grid -->
         <div class="max-h-[70vh] bg-gray-700 rounded-lg p-4 overflow-y-auto">
          <div *ngIf="topics.length === 0" class="text-gray-400">No topics available.</div>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"> <!-- Changed for 4 columns on large screens -->
            <div *ngFor="let topic of topics" class="mb-4 p-4 bg-gray-800 rounded-lg">
              <img 
                [src]="topic.image_url" 
                alt="{{ topic.topic_name }}" 
                class="w-full h-32 object-cover rounded-md mb-3"
              />
              <h2 class="text-xl font-bold">{{ topic.topic_name }}</h2>
              <p class="text-gray-400">{{ topic.content | slice:0:200 }}...</p>
              <a [routerLink]="['/forum', topic.id]" class="text-blue-500 hover:underline">View Topic</a>
            </div>
          </div>
         </div>

      <!-- Second Row: Buttons -->
      <div class="flex gap-4 mt-4 bg-gray-700 p-4 ">

        <a 
          routerLink="/forum/create-topic" 
          class="flex-grow bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Create Forum
        </a>
        <a 
          routerLink="/forum/manage-topic" 
          class="flex-grow bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
          My Forum
        </a>
      </div>
    </div>
  </main>
</div>